@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
::before,
::after {
    font-family: "Cormorant Garamond", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}

html {
    background-color: #4a148c;
    overflow-x: hidden;

}

body {
    color: rgb(243, 239, 9);

}

/*Altera o efeito ao passa o mouse  no video*/
#canvas {
    width: 100%;
    height: 100%;
    cursor: pointer;
}



.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    filter: brightness(60%);

}

.content-overlay {
    position: relative;
    z-index: 1;
    padding: 20px;
}

/*Alterar o Botão Audio*/
.audio-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    border: none;
    color: #333;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s;

}

.audio-btn:hover {
    background-color: #f1fcb9;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 120px;
    width: 8%;
    height: 70%;
    top: 20%;
    position: relative;
    cursor: pointer;

}

/* Alterar o header*/
header {
    background-color: #f5f070;
    width: 100%;
    height: 9vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;

}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;

}

.bar {
    height: 3px;
    width: 30px;
    background-color: #4a148c;
    margin: 4px 0;
    transition: all 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
    color: #4a148c;
    width: 100%;
    text-align: center;
    position: relative;
    top: -35px;

}

nav a {
    color: #4a148c;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s, filter 0.3s;
}

nav a:hover {
    filter: drop-shadow(2px 2px 5px rgba(128, 0, 128, 0.5));
}

main {
    position: relative;
    z-index: 2;

}



/* Altera o quadro Sobre*/
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.profile {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    top: -6.2rem;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #FFA500;


}

.profile-image {
    width: 550px;
    height: 550px;
    padding: 12px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info h1 {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 2.5em;
    text-align: center;

}

.profile-info p {
    margin: 30px;
    color: #333333;
    font-size: 1.2em;
    line-height: 1.5;
}

.profile-info a {

    text-decoration: none;
    background-color: #FF4500;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;

}

.profile-info a:hover {
    background-color: #FF6347;

}

/* Altera o Titulo Personagens*/
.psg {
    display: flex;
    width: 50%;
    height: auto;
    left: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    position: relative;
    margin-top: -3rem;

}

#personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/*Altera o circulo*/
.circle-wrapper {
    left: 37rem;
    top: 8rem;
    border: 1px solid #0f3e5d;
    position: relative;
    border-radius: 9999px;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-areas: "stack";
    place-content: center;

}

/*Estilos de elementos centralizados*/
.center-element {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 10rem;
    height: 10rem;
    background-color: #1b2c36;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: #cbd5e0;
    font-size: 1.125rem;

}

/*Antes do pseudoelemento para o elemento central */
.center-element::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-color: #0a4368;
    border-radius: 50%;
    z-index: -10;
    transition: all 1s;

}

/* Ocultar elemento de entrada de rádio */
input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

}

/* Estilos de rótulo dentro do wrapper do círculo */
label {
    grid-area: stack;
    width: 5rem;
    height: 5rem;
    border-radius: 9999px;
    border: 1px solid #738088;
    display: grid;
    place-content: center;
    background-color: rgba(255, 255, 255, 02);
    position: relative;
    color: #87ceeb;
    font-size: 1.25rem;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

}

/* Estilo de entrada de rádio verificado */
input:checked+label {
    transform: none !important;
    transition-duration: 1s;

}

/* Transformação de imagem em verificado*/
input:checked+label>img {
    transform: scale(2);

}

/* transformação svg em verificado */
input:checked+label>svg {
    opacity: 1;
    transform: scale(2.25) rotate(45deg);
    transition-delay: 700ms, 500ms, 2000ms;

}

/* Estilos de transformação de Avatar*/
.avatar {
    --radius: 22rem;
    --d: calc(var(--i) / var(--total));
    --r-offset: -0.15turn;
    --r-amount: 1turn;
    --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
    transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

}

/* Estilos de imagem  */
.relogio {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    transition: all 1s ease-in-out;

}

svg {
    transition: all 0.5s ease-in-out;
    position: absolute;
    inset: 0 0 0 -25%;
    margin: auto;
    width: 125px;
    opacity: 0;
    z-index: -10;

}


/* Altera o Titulo Cenas*/
.csn-one {
    display: flex;
    width: 50%;
    height: auto;
    left: 30rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 25rem;
    font-weight: 500;
    font-size: 40px;


}

#cenas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.turma {
    position: relative;
    top: 30rem;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

/*Carrossel de Videos*/
.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    top: -20rem;
    left: 55rem;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: red;
}

.videos {
    display: flex;
    transition: transform 0.5s ease;

}

.video {
    min-width: 100%;

}

iframe {
    width: 100%;
    height: 450px;
    border: none;

}

#botao-carr,
#botao-ssel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Posicionamento e estilo para parágrafo */
footer {
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    top: 0;
    text-align: center;
    padding: 20px;
    z-index: 2;

}

/* Final do site desktop ========================================================*/

@media screen and (max-width: 1600px) {
    header {
        display: flex;
        background-color: #f5f070;
        width: 100%;
        height: 15vh;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: absolute;
        margin-top: -4%;
        z-index: 23;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 50%;
        left: 12rem;
        margin-top: 23px;

    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 50%;
        margin-left: 3%;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f5f070;
        width: 100%;
        top: 15vh;
        left: 0;
        z-index: 2;

    }

    nav.active {
        display: flex;

    }

    nav a {
        margin: 10px 0;

    }

    /* Estilos para quando o menu estiver aberto */
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        z-index: 3;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;

    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        z-index: 3;
    }





    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .profile {
        display: flex;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        position: relative;
        top: -8.4rem;
        padding: 9.6%;
        align-items: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: #FFA500;

    }

    .profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;

    }

    .profile-info h1 {
        font-size: 32px;

    }

    .profile-info p {
        margin: 30px;
        margin-bottom: 50px;
        color: #333333;
        font-size: 1.2em;
        line-height: 1.5;

    }

    .profile-info a {
        text-decoration: none;
        background-color: #FF4500;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s;

    }

    .profile-info a:hover {
        background-color: #FF6347;

    }

    #personagens {
        position: relative;
        justify-content: center;
        top: -2rem;
        left: -1rem;

    }

    .psg {
        display: flex;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        top: 15rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 50px;

    }

    .circle-wrapper {
        display: flex;
        justify-content: center;
        left: 7rem;
        border: 1px solid #0f3e5d;
        position: relative;
        border-radius: 9999px;
        display: grid;
        width: 490px;
        height: 490px;
        grid-template-areas: "stack";
        place-content: center;

    }

    label {
        grid-area: stack;
        width: 2rem;
        height: 2rem;
        border-radius: 9999px;
        border: 1px solid #738088;
        display: grid;
        place-content: center;
        background-color: rgba(255, 255, 255, 02);
        position: relative;
        color: #87ceeb;
        font-size: 2.25rem;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

    }

    .relogio {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        transition: all 1s ease-in-out;

    }

    .avatar {
        --radius: 15rem;
        --d: calc(var(--i) / var(--total));
        --r-offset: -0.15turn;
        --r-amount: 1turn;
        --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
        transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

    }

    svg {
        transition: all 0.5s ease-in-out;
        position: absolute;
        inset: 0 0 0 -150%;
        margin: auto;
        width: 12vh;
        opacity: 0;
        z-index: -10;

    }

    .center-element {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 16rem;
        height: 16rem;
        background-color: #1b2c36;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        display: grid;
        place-content: center;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.05em;
        color: #cbd5e0;
        font-size: 1rem;

    }

    .center-element::before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background-color: #0a4368;
        border-radius: 50%;
        z-index: -10;
        transition: all 1s;

    }

    input:checked+label {
        transform: none !important;
        transition-duration: 1s;

    }

    input:checked+label>img {
        transform: scale(4);

    }

    input:checked+label>svg {
        opacity: 1;
        transform: scale(3.90) rotate(-10deg);
        transition-delay: 700ms, 500ms, 2000ms;
        z-index: 10;

    }

    .csn-one {
        position: relative;
        justify-content: center;
        top: 10rem;
        left: 11.5rem;




    }

    #cenas {
        display: flex;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        top: 15rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        font-size: 50px;
    }

    .turma {
        display: flex;
        justify-content: center;
        position: relative;
        top: 29rem;
        left: 0;
        width: 100%;
        height: auto;

    }

    .carrossel {
       
        gap: 20px;
        position: relative;
        width: 100%;
      
        max-width: 400px;
        overflow: hidden;
        top: -1rem;
        left: 20rem;
        border: 2px solid #333;
        border-radius: 10px;
        background-color: red;
    }

    .videos {
        display: flex;
        transition: transform 0.5s ease;

    }

    .video {
        min-width: 100%;

    }

    iframe {
        width: 100%;
        height: 450px;
        border: none;

    }

    #botao-carr,
    #botao-ssel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

}



/*@media 768px*/
@media screen and (max-width: 768px) {
    header {
        display: flex;
        background-color: #f5f070;
        width: 100%;
        height: 15vh;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: absolute;
        margin-top: -4%;
        z-index: 23;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-top: 15px;



        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 100%;
        max-height: 100%;
        width: 50%;
        height: 50%;
        left: 12rem;
        margin-top: 23px;





    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 20%;
        margin-left: 3%;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f5f070;
        width: 100%;
        top: 15vh;
        left: 0;
        z-index: 2;

    }

    nav.active {
        display: flex;

    }

    nav a {
        margin: 10px 0;

    }

    /* Estilos para quando o menu estiver aberto */
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        z-index: 3;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;

    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        z-index: 3;
    }

    /* video {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        z-index: -1;
        object-fit: cover;
        filter: brightness(60%);
        margin-top: -0.6rem;

    } */

    #personagens {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: -7rem;
        width: 40%;
        height: auto;

    }

    .psg {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        top: -15rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 00;
        font-size: 20px;

    }


    .video-background {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .video-background video {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        object-fit: cover;
        filter: brightness(60%);

    }

    .content-overlay {
        position: relative;
        z-index: 1;
        padding: 20px;

    }

    /*Alterar o Botão Audio*/
    .audio-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        /* background-color: rgba(255, 255, 255, 0.5); */
        border: none;
        color: #333;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007bff;
        opacity: 0.5;
        transition: opacity 0.3s ease, background-color 0.3s;

    }

    .audio-btn:hover {
        background-color: #f1fcb9;
    }









    /* #audioButton {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        top: 40%;
        margin-left: -15%;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        border-radius: 10px;
        z-index: 1;
    }

    button {
        display: flex;
        color: #c305f3;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        outline: none;
        opacity: 0.5;
        transition: opacity 0.3s ease, background-color 0.3s;
    } */

    /*Altera o Sobre*/
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        position: relative;
    }

    .profile {
        display: flex;
        width: 100%;
        height: auto;
        top: -38.3rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: #FFA500;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 34rem;
        z-index: 3;

    }

    .profile-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-right: -20px;
        margin-bottom: 8%;

    }

    .profile-info h1 {
        font-size: 32px;

    }

    .profile-info p {
        margin: 30px;
        margin-bottom: 50px;
        color: #333333;
        font-size: 1.2em;
        line-height: 1.5;

    }

    .profile-info a {
        text-decoration: none;
        background-color: #FF4500;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s;

    }

    .profile-info a:hover {
        background-color: #FF6347;

    }

    #personagens {
        display: flex;
        justify-content: center;
        top: 60rem;
        align-items: center;
        text-align: center;
        margin-left: 15rem;
        width: auto;
        height: auto;
    }

    .psg {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        top: 15rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 30px;

    }

    .circle-wrapper {
        justify-content: center;
        left: 2.6rem;
        top: 61rem;
        border: 1px solid #0f3e5d;
        position: relative;
        border-radius: 9999px;
        display: grid;
        width: 310px;
        height: 310px;
        grid-template-areas: "stack";
        place-content: center;

    }

    label {
        grid-area: stack;
        width: 2rem;
        height: 2rem;
        border-radius: 9999px;
        border: 1px solid #738088;
        display: grid;
        place-content: center;
        background-color: rgba(255, 255, 255, 02);
        position: relative;
        color: #87ceeb;
        font-size: 1.25rem;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

    }

    /* Imagem styles */
    .relogio {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        transition: all 1s ease-in-out;

    }

    /* Avatar transform styles*/
    .avatar {
        --radius: 9rem;
        --d: calc(var(--i) / var(--total));
        --r-offset: -0.15turn;
        --r-amount: 1turn;
        --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
        transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

    }

    svg {
        transition: all 0.5s ease-in-out;
        position: absolute;
        inset: 0 0 0 -50%;
        margin: auto;
        width: 7vh;
        opacity: 0;
        z-index: -10;

    }

    .center-element {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 8rem;
        height: 8rem;
        background-color: #1b2c36;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        display: grid;
        place-content: center;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.05em;
        color: #cbd5e0;
        font-size: 1rem;

    }

    .center-element::before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background-color: #0a4368;
        border-radius: 50%;
        z-index: -10;
        transition: all 1s;

    }

    input:checked+label {
        transform: none !important;
        transition-duration: 1s;

    }

    input:checked+label>img {
        transform: scale(4);

    }

    input:checked+label>svg {
        opacity: 1;
        transform: scale(3.90) rotate(-10deg);
        transition-delay: 700ms, 500ms, 2000ms;
        z-index: 10;

    }

    .csn-one {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        top: 25rem;
        font-weight: 500;
        font-size: 40px;

    }

    #cenas {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .turma {
        position: relative;
        top: 30rem;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    /*Carrossel de Videos*/
    .carrossel {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        justify-content: center;
        text-align: center;
        position: relative;
        width: 100%;
        max-width: 210px;
        overflow: hidden;
        top: 43rem;
        left: 65rem;
        border: 2px solid #333;
        border-radius: 10px;
        background-color: red;
    }

    .videos {
        display: flex;
        transition: transform 0.5s ease;

    }

    .video {
        min-width: 100%;

    }

    iframe {
        width: 100%;
        height: 450px;
        border: none;

    }

    #botao-carr,
    #botao-ssel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .prev {
        left: 10px;
    }

    .next {
        right: 10px;
    }

    footer {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        text-align: center;
        padding: 20px;
        z-index: 2;

    }

    /* Estilos específicos para smartphones */
    @media (max-width: 480px) {
        header {
            display: flex;
            background-color: #f5f070;
            width: 100%;
            height: 15vh;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            position: absolute;
            margin-top: -4%;
            z-index: 3;
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            max-width: 100%;
            max-height: 100%;
            width: 50%;
            height: 50%;
            left: 7.5rem;
            margin-top: 20px;

        }

        .hamburger {
            display: flex;
            position: absolute;
            top: 45%;
            margin-left: 3%;
        }

        nav {
            display: none;
            flex-direction: column;
            position: absolute;
            background-color: #f5f070;
            width: 100%;
            top: 15vh;
            left: 0;

        }

        nav.active {
            display: flex;

        }

        nav a {
            margin: 10px 0;

        }

        .hamburger.active .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
            z-index: 3;
        }

        .hamburger.active .bar:nth-child(2) {
            opacity: 0;

        }

        .hamburger.active .bar:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
            z-index: 3;
        }

        #canvas {
            display: none;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }

        .video-background {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
    
        .video-background video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            object-fit: cover;
            filter: brightness(60%);
    
        }
    
        

        
        #personagens {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            left: -6rem;
            width: 40%;
            height: auto;
            top: -1rem;
            margin-top: 50px;

        }

        .psg {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            font-size: 50px;

        }

        .content-overlay {
            position: relative;
            z-index: 1;
            padding: 20px;
    
        }
    
        /*Alterar o Botão Audio*/
        .audio-btn {
            position: relative;
            top: 8rem;
            right: -23.6rem;
                        border: none;
            color: #333;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #007bff;
            opacity: 0.5;
            transition: opacity 0.3s ease, background-color 0.3s;
    
        }
    
        .audio-btn:hover {
            background-color: #f1fcb9;
        }      

        /*Altera o Sobre*/
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            position: relative;
        }

        .profile {
            display: flex;
            height: auto;
            top: -19rem;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            background-color: #FFA500;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .profile-image {
            width: 90%;
            height: auto;
            border-radius: 50%;
            margin-right: -20px;
            margin-bottom: 8%;

        }

        .profile-info h1 {
            font-size: 35px;
            font-weight: 500;

        }

        .profile-info p {
            margin: 30px;
            margin-bottom: 50px;
            color: #333333;
            font-size: 15px;
            line-height: 1.5;

        }

        .profile-info a {
            text-decoration: none;
            background-color: #FF4500;
            color: #FFFFFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.2em;
            transition: background-color 0.3s;

        }

        .profile-info a:hover {
            background-color: #FF6347;

        }

        .circle-wrapper {
            left: 5.1rem;
            top: 3rem;
            border: 1px solid #0f3e5d;
            position: relative;
            border-radius: 9999px;
            display: grid;
            width: 310px;
            height: 310px;
            grid-template-areas: "stack";
            place-content: center;

        }

        label {
            grid-area: stack;
            width: 2rem;
            height: 2rem;
            border-radius: 9999px;
            border: 1px solid #738088;
            display: grid;
            place-content: center;
            background-color: rgba(255, 255, 255, 02);
            position: relative;
            color: #87ceeb;
            font-size: 1.25rem;
            transition-property: all;
            transition-duration: 0.5s;
            cursor: pointer;
            box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

        }


        .relogio {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
            transition: all 1s ease-in-out;

        }

        .avatar {
            --radius: 9rem;
            --d: calc(var(--i) / var(--total));
            --r-offset: -0.15turn;
            --r-amount: 1turn;
            --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
            transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

        }

        svg {
            transition: all 0.5s ease-in-out;
            position: absolute;
            inset: 0 0 0 -50%;
            margin: auto;
            width: 7vh;
            opacity: 0;
            z-index: -10;

        }


        .center-element {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 8rem;
            height: 8rem;
            background-color: #1b2c36;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 50%;
            display: grid;
            place-content: center;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.05em;
            color: #cbd5e0;
            font-size: 1rem;

        }

        .center-element::before {
            content: "";
            position: absolute;
            top: -1px;
            right: -1px;
            bottom: -1px;
            left: -1px;
            background-color: #0a4368;
            border-radius: 50%;
            z-index: -10;
            transition: all 1s;

        }

        input:checked+label {
            transform: none !important;
            transition-duration: 1s;

        }

        input:checked+label>img {
            transform: scale(4);

        }

        input:checked+label>svg {
            opacity: 1;
            transform: scale(3.90) rotate(-10deg);
            transition-delay: 700ms, 500ms, 2000ms;
            z-index: 10;

        }


        /* Altera o Titulo Cenas*/
        .csn-one {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            left: 7rem;
            top: -7rem;
            font-weight: 500;
            font-size: 35px;

        }

        #cenas {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

        }

        .turma {
            position: relative;
            top: 10.8rem;
            left: 0;
            width: 100%;
            height: auto;
            z-index: -1;
        }

        /*Carrossel de Videos*/
        .carrossel {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
            justify-content: center;
            text-align: center;
            position: relative;
            width: 100%;
            height: 49vw;
            max-width: 210px;
            overflow: hidden;
            top: -6rem;
            left: 12.9rem;
            border: 2px solid #333;
            border-radius: 10px;
            background-color: red;
        }

        .videos {
            display: flex;
            transition: transform 0.5s ease;

        }

        .video {
            min-width: 100%;

        }

        iframe {
            width: 100%;
            height: 250px;
            border: none;

        }

        #botao-carr,
        #botao-ssel {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
        }


        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

        footer {
            position: relative;
            margin-top: -4rem;
            text-align: center;
            padding: 20px;
            background-color: #d21717;
        }

        /* @media (max-width: 400px)  */
        @media (max-width: 400px) {
            header {
                display: flex;
                background-color: #f5f070;
                width: 100%;
                height: 15vh;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                position: absolute;
                margin-top: -4%;
                z-index: 3;
            }

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                max-width: 100%;
                max-height: 100%;
                width: 50%;
                height: 50%;
                left: 7.5rem;
                margin-top: 15px;

            }

            .hamburger {
                display: flex;
                position: absolute;
                top: 45%;
                margin-left: 3%;
            }

            nav {
                display: none;
                flex-direction: column;
                position: absolute;
                background-color: #f5f070;
                width: 100%;
                top: 15vh;
                left: 0;

            }

            nav.active {
                display: flex;

            }

            nav a {
                margin: 10px 0;

            }


            .hamburger.active .bar:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
                z-index: 3;
            }

            .hamburger.active .bar:nth-child(2) {
                opacity: 0;

            }

            .hamburger.active .bar:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
                z-index: 3;
            }

            /*Altera o efeito ao passa o mouse  no video*/
            #canvas {
                display: none;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }

            .video-background {
                position: relative;
                width: 100%;
                height: 100vh;
                overflow: hidden;
            }
        
            .video-background video {
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
                object-fit: cover;
                filter: brightness(60%);
        
            }
            #personagens {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                left: -7rem;
                width: 40%;
                height: auto;
                top: -3rem;

            }

            .psg {
                display: flex;
                position: relative;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-weight: 500;
                font-size: 50px;

            }

            .content-overlay {
                position: relative;
                z-index: 1;
                padding: 20px;
        
            }
        
            /*Alterar o Botão Audio*/
            .audio-btn {
                position: relative;
                top: 6rem;
                right: -18.6rem;
                            border: none;
                color: #333;
                padding: 10px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #007bff;
                opacity: 0.5;
                transition: opacity 0.3s ease, background-color 0.3s;
        
            }
        
            .audio-btn:hover {
                background-color: #f1fcb9;
            }      
            /*Altera o Sobre*/
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                position: relative;
            }

            .profile {
                display: flex;
                height: auto;
                top: -19rem;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
                background-color: #FFA500;
                position: relative;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
            }
    
            .profile-image {
                width: 70%;
                height: auto;
                border-radius: 50%;
                margin-top: 3rem;
                margin-bottom: 8%;
    
            }
    
            .profile-info h1 {
                position: relative;
                top: -2rem;
                font-size: 35px;
                font-weight: 500;
    
            }
    
            .profile-info p {
                position: relative;
                top: -2rem;
                margin: 20px;
                margin-bottom: 50px;
                color: #333333;
                font-size: 14px;
                line-height: 1.5;
    
            }
    
            .profile-info a {
                text-decoration: none;
                position: relative;
                top: -4rem;
                background-color: #FF4500;
                color: #FFFFFF;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                font-size: 1em;
                transition: background-color 0.3s;
    
            }
    
            .profile-info a:hover {
                background-color: #FF6347;
    
            }

            .circle-wrapper {
                margin-left: 2.5rem;
                left: 0.3rem;
                top: -1rem;
                border: 1px solid #0f3e5d;
                position: relative;
                border-radius: 9999px;
                display: grid;
                width: 310px;
                height: 310px;
                grid-template-areas: "stack";
                place-content: center;

            }

            label {
                grid-area: stack;
                width: 2rem;
                height: 2rem;
                border-radius: 9999px;
                border: 1px solid #738088;
                display: grid;
                place-content: center;
                background-color: rgba(255, 255, 255, 02);
                position: relative;
                color: #87ceeb;
                font-size: 1.25rem;
                transition-property: all;
                transition-duration: 0.5s;
                cursor: pointer;
                box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

            }

            .relogio {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                object-fit: cover;
                transition: all 1s ease-in-out;

            }

            .avatar {
                --radius: 9rem;
                --d: calc(var(--i) / var(--total));
                --r-offset: -0.15turn;
                --r-amount: 1turn;
                --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
                transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

            }

            svg {
                transition: all 0.5s ease-in-out;
                position: absolute;
                inset: 0 0 0 -50%;
                margin: auto;
                width: 7vh;
                opacity: 0;
                z-index: -10;

            }

            .center-element {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 8rem;
                height: 8rem;
                background-color: #1b2c36;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 50%;
                display: grid;
                place-content: center;
                text-transform: uppercase;
                font-weight: 300;
                letter-spacing: 0.05em;
                color: #cbd5e0;
                font-size: 1rem;

            }

            .center-element::before {
                content: "";
                position: absolute;
                top: -1px;
                right: -1px;
                bottom: -1px;
                left: -1px;
                background-color: #0a4368;
                border-radius: 50%;
                z-index: -10;
                transition: all 1s;

            }


            input:checked+label {
                transform: none !important;
                transition-duration: 1s;

            }

            input:checked+label>img {
                transform: scale(4);

            }

            input:checked+label>svg {
                opacity: 1;
                transform: scale(3.90) rotate(-10deg);
                transition-delay: 700ms, 500ms, 2000ms;
                z-index: 10;

            }

            /* Altera o Titulo Cenas*/
        .csn-one {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            left: 8rem;
            width: 40%;
            height: auto;
            top: -11rem;
            /* margin-top: 50px; */

        }

        #cenas {
            display: flex;
            position: relative;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            font-size: 50px;
        }

        .turma {
            position: relative;
            top: 5.5rem;
            left: 0;
            width: 100%;
            height: auto;
            z-index: -1;
        }

        /*Carrossel de Videos*/
        .carrossel {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
            justify-content: center;
            text-align: center;
            position: relative;
            width: 100%;
            height: 49vw;
            max-width: 210px;
            overflow: hidden;
            top: -9rem;
            left: 9.9rem;
            border: 2px solid #333;
            border-radius: 10px;
            background-color: red;
        }

        .videos {
            display: flex;
            transition: transform 0.5s ease;

        }

        .video {
            min-width: 100%;

        }

        iframe {
            width: 100%;
            height: 250px;
            border: none;

        }

        #botao-carr,
        #botao-ssel {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
        }


        .prev {
            left: 10px;
        }

        .next {
            right: 10px;
        }

        footer {
            position: relative;
            margin-top: -6.8rem;
            text-align: center;
            padding: 20px;
            background-color: #d21717;
        }


        }
    }

}

/*1532 quebra*/