@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}

html {
    background-color: #4a148c;
    overflow-x: hidden;
}

body {
    color: rgb(243, 239, 9);
}

/*Altera o efeito ao passa o mouse  no video*/
#canvas {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 9%;
    left: 0;
    z-index: -1;
    object-fit: cover;
    filter: brightness(60%);

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 120px;
    width: 8%;
    height: 70%;
    top: 20%;
    position: relative;
    cursor: pointer;

}

/* Alterar o header*/
header {
    background-color: #f5f070;
    width: 100%;
    height: 9vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    

}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;

}

.bar {
    height: 3px;
    width: 30px;
    background-color: #4a148c;
    margin: 4px 0;
    transition: all 0.3s ease;
}

nav {
    display: flex;
    justify-content: center;
    color: #4a148c;
    width: 100%;
    text-align: center;
    position: relative;
    top: -35px;

}

nav a {
    color: #4a148c;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 10px;
    transition: background-color 0.3s, filter 0.3s;
}

nav a:hover {
    filter: drop-shadow(2px 2px 5px rgba(128, 0, 128, 0.5));
}

main {
    position: relative;
    z-index: 2;
}

/*Alterar o Botão Audio*/
#audioButton {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    top: -20%;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left: 96%;
    border-radius: 10px;
    z-index: 2;
}

button {
    display: flex;
    color: #c305f3;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    outline: none;
    opacity: 0.5;
    transition: opacity 0.3s ease, background-color 0.3s;
}

button:hover {
    background-color: #f1fcb9;
}

/* Altera o quadro Sobre*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.profile {
    display: flex;
    padding: 9.6%;
    margin-bottom: 120px;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #FFA500;

}

.profile-image {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info h1 {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 2.5em;
    text-align: center;

}

.profile-info p {
    margin: 30px;
    color: #333333;
    font-size: 1.2em;
    line-height: 1.5;
}

.profile-info a {

    text-decoration: none;
    background-color: #FF4500;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;

}

.profile-info a:hover {
    background-color: #FF6347;

}

/* Altera o Titulo Personagens*/
.psg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 50px;

}

#personagens {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/*Altera o circulo*/
.circle-wrapper {
    left: 37rem;
    top: 8rem;
    border: 1px solid #0f3e5d;
    position: relative;
    border-radius: 9999px;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-areas: "stack";
    place-content: center;

}

/*Estilos de elementos centralizados*/
.center-element {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 10rem;
    height: 10rem;
    background-color: #1b2c36;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: #cbd5e0;
    font-size: 1.125rem;

}

/*Antes do pseudoelemento para o elemento central */
.center-element::before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-color: #0a4368;
    border-radius: 50%;
    z-index: -10;
    transition: all 1s;

}

/* Ocultar elemento de entrada de rádio */
input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

}

/* Estilos de rótulo dentro do wrapper do círculo */
label {
    grid-area: stack;
    width: 5rem;
    height: 5rem;
    border-radius: 9999px;
    border: 1px solid #738088;
    display: grid;
    place-content: center;
    background-color: rgba(255, 255, 255, 02);
    position: relative;
    color: #87ceeb;
    font-size: 1.25rem;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

}

/* Estilo de entrada de rádio verificado */
input:checked+label {
    transform: none !important;
    transition-duration: 1s;

}

/* Transformação de imagem em verificado*/
input:checked+label>img {
    transform: scale(2);

}

/* transformação svg em verificado */
input:checked+label>svg {
    opacity: 1;
    transform: scale(2.25) rotate(45deg);
    transition-delay: 700ms, 500ms, 2000ms;

}

/* Estilos de transformação de Avatar*/
.avatar {
    --radius: 22rem;
    --d: calc(var(--i) / var(--total));
    --r-offset: -0.15turn;
    --r-amount: 1turn;
    --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
    transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

}

/* Estilos de imagem  */
.relogio {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    transition: all 1s ease-in-out;

}

svg {
    transition: all 0.5s ease-in-out;
    position: absolute;
    inset: 0 0 0 -25%;
    margin: auto;
    width: 125px;
    opacity: 0;
    z-index: -10;

}

/* Posicionamento e estilo para parágrafo */
/* p- {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: white;
    font-size: 0.8rem;

} */

footer {
    position: relative;
    top: 15rem;
    text-align: center;
    padding: 20px;
    background-color: #d21717;
}

/* Media Queries max-width: 480px */
@media screen and (max-width: 480px) {
    header {
        display: flexbox;
        background-color: #f5f070;
        width: 100%;
        height: 15vh;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        margin-top: -4%;
        z-index: 3;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        margin-top: 15px;

    }

    /* h1 {
        color: white;
        font-size: 20px;
        margin-top: -55px;
    } */

    video {
        z-index: -1;
    }

    .formulario {
        position: absolute;
        top: 50px;
        width: 310px;
        height: 80%;
        z-index: 3;
        transition: -0.8s;
        margin-top: 9%;
        transform: translate(-165px);
    }

    #audioButton {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        top: 10%;
        margin-left: -15%;
        font-size: 15px;
        font-weight: 500;
        position: relative;
        border-radius: 10px;
        z-index: 1;
    }

    button {
        display: flex;
        color: #c305f3;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        outline: none;
        opacity: 0.5;
        transition: opacity 0.3s ease, background-color 0.3s;
    }

    .texto {
        display: inline;

    }

    .hidden {
        display: none;

    }

    .item {
        width: 100vw;
        height: 55vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        scroll-snap-align: start;
    }

    .texto-rodape {
        color: white;
        font-size: 11px;
        margin-top: 10px;
    }

}

@media screen and (max-width: 1700px) {
    #personagens {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 15rem;
        width: auto;
        height: auto;
    }

    /* Positioning and style for paragraph */
    p {
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
        top: 0.2rem;
        bottom: 2rem;
        font-size: 1.08rem;

    }

    footer {
        position: relative;
        top: 15rem;
        text-align: center;
        padding: 20px;
        background-color: #d21717;

    }

}

/* Estilos para o menu hamburger e responsividade */
@media screen and (max-width: 1228px) {
    .hamburger {
        display: flex;
        /* position: absolute; */
        top: -50%;
        margin-left: 3%;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #f5f070;
        width: 100%;
        top: 15vh;
        left: 0;
        z-index: 2;

    }

    nav.active {
        display: flex;

    }

    nav a {
        margin: 10px 0;

    }

    /* Estilos para quando o menu estiver aberto */
    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        z-index: 3;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;

    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        z-index: 3;
    }


    video {
        width: 100%;
        height: auto;
        position: absolute;
        top: 7.9rem;
        left: 0;
        z-index: -1;
        object-fit: cover;
        filter: brightness(60%);

    }

    #personagens {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: -7rem;
        width: 40%;
        height: auto;

    }

    .psg {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        top: -15rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 00;
        font-size: 20px;

    }

    /* Hide radio input element */
    input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;

    }

    /* Positioning and style for paragraph*/
    p {
        display: flex;
        justify-content: center;
        text-align: center;
        justify-content: center;
        position: relative;
        top: 1rem;
        bottom: 2rem;
        color: rgb(241, 15, 15);
        font-size: 0.8rem;

    }

    .circle-wrapper {
        display: none;
        max-width: 100%;
        max-height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        left: 4rem;
        top: 18rem;
        border: 1px solid #0f3e5d;
        position: relative;
        border-radius: 9999px;
        display: grid;
        width: 310px;
        height: 310px;
        grid-template-areas: "stack";
        place-content: center;

    }

    /* Label styles inside the circle wrapper */
    label {

        grid-area: stack;
        width: 2rem;
        height: 2rem;
        border-radius: 9999px;
        border: 1px solid #738088;
        display: grid;
        place-content: center;
        background-color: rgba(255, 255, 255, 02);
        position: relative;
        color: #87ceeb;
        font-size: 1.25rem;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

    }

    /* Imagem styles */
    .relogio {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        transition: all 1s ease-in-out;

    }

    /* Avatar transform styles*/
    .avatar {
        --radius: 9rem;
        --d: calc(var(--i) / var(--total));
        --r-offset: -0.15turn;
        --r-amount: 1turn;
        --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
        transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

    }

    svg {
        transition: all 0.5s ease-in-out;
        position: absolute;
        inset: 0 0 0 -25%;
        margin: auto;
        width: 100%;
        opacity: 0;
        z-index: -10;

    }

    /*Centered element styles*/
    .center-element {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 8rem;
        height: 8rem;
        background-color: #1b2c36;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        display: grid;
        place-content: center;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.05em;
        color: #cbd5e0;
        font-size: 1rem;

    }

    /*Before pseudo-element for center-element */
    .center-element::before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        background-color: #0a4368;
        border-radius: 50%;
        z-index: -10;
        transition: all 1s;

    }

    /*Checked radio input style */
    input:checked+label {
        transform: none !important;
        transition-duration: 1s;

    }

    /*Imagem transform on checked */
    input:checked+label>img {
        transform: scale(4);

    }

    /*svg transform on checked */
    input:checked+label>svg {
        opacity: 1;
        transform: scale(2.25) rotate(45deg);
        transition-delay: 700ms, 500ms, 2000ms;

    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;        
        height: auto;

    }

    .profile {
        display: flex;
        top: -40rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        background-color: #FFA500;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .profile-image {
        flex-direction: row;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        margin-right: 10px;
        margin-right: -20px;
        margin-bottom: 8%;

    }

    .profile-info h1 {
        font-size: 32px;

    }

    .profile-info p {
        margin: 30px;
        margin-bottom: 50px;
        color: #333333;
        font-size: 1.2em;
        line-height: 1.5;

    }

    .profile-info a {
        text-decoration: none;
        background-color: #FF4500;
        color: #FFFFFF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s;

    }

    .profile-info a:hover {
        background-color: #FF6347;

    }

    /*Checked radio input style */
    input:checked+label {
        transform: none !important;
        transition-duration: 1s;

    }

    /*Imagem transform on checked */
    input:checked+label>img {
        transform: scale(4);

    }

    /*svg transform on checked */
    input:checked+label>svg {
        opacity: 1;
        transform: scale(2.25) rotate(45deg);
        transition-delay: 700ms, 500ms, 2000ms;

    }

    main {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;

    }

    footer {
        display: flex;
        position: relative;
        top: 25rem;
        text-align: center;
        padding: 20px;
        background-color: #f1f1f1;
    }

}

/*@media 768px*/
@media screen and (max-width: 768px) {
    #personagens {
        display: flex;
        position: relative;
        top: -44rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: -7rem;
        width: 40%;
        height: auto;
    }

    .psg {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        top: 15rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 00;
        font-size: 20px;

    }

    /* Hide radio input element */
    input[type="radio"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;

    }

    /* Positioning and style for paragraph*/
    p- {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        color: white;
        font-size: 0.8rem;

    }

    .circle-wrapper {
        justify-content: center;
        left: 2.6rem;
        top: -40rem;
        border: 1px solid #0f3e5d;
        position: relative;
        border-radius: 9999px;
        display: grid;
        width: 310px;
        height: 310px;
        grid-template-areas: "stack";
        place-content: center;

    }

    /* Label styles inside the circle wrapper */
    label {
        grid-area: stack;
        width: 2rem;
        height: 2rem;
        border-radius: 9999px;
        border: 1px solid #738088;
        display: grid;
        place-content: center;
        background-color: rgba(255, 255, 255, 02);
        position: relative;
        color: #87ceeb;
        font-size: 1.25rem;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);

    }

    /* Imagem styles */
    .relogio {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        transition: all 1s ease-in-out;

    }

    svg {
        transition: all 0.5s ease-in-out;
        position: absolute;
        inset: 0 0 0 -50%;
        margin: auto;
        width: 7vh;
        opacity: 0;
        z-index: -10;

    }

    /*Imagem transform on checked */
    input:checked+label>img {
        transform: scale(4);

    }

    /*svg transform on checked */
    input:checked+label>svg {
        opacity: 1;
        transform: scale(3.90) rotate(-10deg);
        transition-delay: 700ms, 500ms, 2000ms;
        z-index: 10;

    }

    /* Avatar transform styles*/
    .avatar {
        --radius: 10rem;
        --d: calc(var(--i) / var(--total));
        --r-offset: -0.15turn;
        --r-amount: 1turn;
        --r: calc((var(--r-amount) * var(--d)) + var(--r-offset));
        transform: rotate(var(--r)) translate(var(--radius)) rotate(calc(-1 * var(--r)));

    }

    footer {
        display: flex;
        position: relative;
        top: 30rem;
        text-align: center;
        padding: 20px;
        background-color: yellowgreen;
    }

}